<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.risikous.app"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="de.risikous.views.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.risikous.views.PublicationsActivity"
            android:label="@string/title_activity_publications"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="de.risikous.views.QuestionnaireActivity"
            android:label="@string/title_activity_questionnaire"
            android:parentActivityName="de.risikous.views.PublicationsActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.risikous.views.PublicationsActivity" />
        </activity>

        <activity
            android:name="de.risikous.views.PublicationActivity"
            android:label="@string/title_activity_publication"
            android:parentActivityName="de.risikous.views.PublicationsActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.risikous.views.PublicationsActivity" />
        </activity>
        <activity
                android:name="de.risikous.views.CommentsActivity"
                android:label="@string/title_activity_comments"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>

